div.body-container {
  margin-top: 80px;
}
div.row {
  margin-bottom: 15px;
}

.avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
