{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="col-sm-2">
  {% if twitter_profile.avatar %}
    <img src="{{twitter_profile.avatar.url}}" alt="Avatar" class="avatar img-rounded">
  {% else %}
    <img src="{% static 'img/default.png' %}" alt="Avatar" class="avatar img-rounded">
  {% endif %}
  <h2><strong>@{{twitter_profile.username}}</strong</h2>
</div>
<div class="col-sm-8">

  {% if request.user == twitter_profile %}
    <div class="row">
        <form role="form" class='tweet-form' action="" method="POST">
          {% csrf_token %}
            <div class="form-group {{form.errors|yesno:"has-error,,"}}">
                <textarea class="form-control" name="content" placeholder="Write your tweet here..." required>{% spaceless %}
                  {% if form.content.value %}
                    {{ form.content.value }}
                  {% endif %}
                {% endspaceless %}</textarea>
                {% if form.content.errors %}
                  {% for error in form.content.errors %}
                    <span class="help-block">{{error}}</span>
                  {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="image_url">Image URL</label>
                <input class="form-control" name="image_url" placeholder="Tweet image url">
            </div>
            <div class="form-group">
                <label for="video_url">Video URL</label>
                <input class="form-control" name="video_url" placeholder="Tweet video url">
            </div>
            <button type="submit" class="btn btn-info pull-right">Submit</button>
        </form>
    </div>
  {% endif %}
  {% if request.path != '/' %}
  {% endif %}

  <div class="row tweet-feed">

      {% for tweet in tweets %}
      <div class="well well-large tweet-container">
          {% if twitter_profile == request.user and tweet.user == request.user %}
          <form id='delete-tweet-form-{{tweet.id}}' action="/tweet/{{tweet.id}}/delete?next={{request.path}}" method="POST">
              {% csrf_token %}
              <button type="submit" class="close" title="Delete this tweet"><span aria-hidden="true">&times;</span></button>
          </form>
          {% endif %}
          <div>
              <strong>@{{tweet.user.username}}</strong>
              <span class="label label-primary created-datetime">{{tweet.created|date:"SHORT_DATETIME_FORMAT"}}</span>
          </div>
          <div class='tweet-content'>{{ tweet.content }}</div>
      </div>
      {% empty %}
        <p><strong>@{{twitter_profile.username}}</strong> hasn't tweeted yet :(</p>
      {% endfor %}
  </div>
</div>
<div class="col-sm-2"></div>{% endblock %}
